github.ford.com:
    user: DHARR419
    oauth_token: {{ onepasswordRead "op://Private/Github Enterprise PAT/credential" }}
    git_protocol: ssh
github.com:
    user: dharr419_ford
    oauth_token: {{ onepasswordRead "op://Private/Github Work PAT/credential" }}
    git_protocol: ssh