!.gitignore
**/*.pyc
**/.ropeproject
*.un~
*~
.*.s[a-w][a-z]
._*
.DS_Store
Icon

.netrwhist
Session.vim
.vim/*.spl
.vim/bundle/*
.vim/black

gnupg/*
!gnupg/gpg.conf
!gnupg/gpg-agent.conf

*.zwc

.vim/pack/minpac/start
