[data]
    name = "David Harris"
    email = "davidaharris@outlook.com"
    github = { username = "thedavidharris" }
    brew = { prefix = "{{ if stat "/opt/homebrew" }}/opt/homebrew{{ else }}/usr/local{{ end }}" }

[diff]
    exclude = ["scripts"]
    format = "git"
    pager = "delta"