brew 'aria2'
brew 'asdf'
brew 'chezmoi'
brew 'chisel'
brew 'colordiff'
brew 'coreutils'
brew 'findutils'
brew 'fzf'
brew 'gh'
brew 'git'
brew 'git-delta'
brew 'git-lfs'
brew 'gnu-sed'
brew 'grep'
brew 'moreutils'
brew 'neovim'
brew 'nmap'
brew 'openssh'
brew 'screen'
brew 'shellcheck'
brew 'speedtest-cli'
brew 'starship'
brew 'swiftlint'
brew 'swiftformat'
brew 'thefuck'
brew 'tree'
brew 'wget'
brew 'zoxide'
brew 'zsh'
brew 'zsh-completions'

cask '1password'
cask '1password-cli'
cask 'charles'
cask 'google-chrome'
cask 'iterm2'
cask 'slack'
cask 'sublime-merge'
cask 'visual-studio-code'
cask 'xcodes'

tap 'homebrew/cask-fonts'
cask 'font-inconsolata'
cask 'font-inconsolata-g'
cask 'font-inconsolata-nerd-font'
cask 'font-inconsolata-go-nerd-font'

tap 'robotsandpencils/made'
brew 'xcodes'
