machine api.github.com
  login dharr419_ford
  password {{ onepasswordRead "op://Private/Github Work PAT/credential" }}

machine github.ford.com
  login dharr419
  password {{ onepasswordRead "op://Private/Github Enterprise PAT/credential" }}
