{{- with (index .packages "shared") -}}
{{- range .taps }}
tap {{ . | quote }}
{{- end }}
{{- range .brews }}
brew {{ . | quote }}
{{- end }}
{{- end }}
{{- with (index .packages .chezmoi.os) -}}
{{- range .taps }}
tap {{ . | quote }}
{{- end }}
{{- range .brews }}
brew {{ . | quote }}
{{- end }}
{{- if and (eq $.chezmoi.os "darwin") .casks }}
{{- range .casks }}
cask {{ . | quote }}
{{- end }}
{{- end }}
{{- end }}
